<div class="flex flex-row items-center relative md:static">
    <div class="grow absolute bottom-4 md:static z-50">
        <div>Hello,</div> 
        <div class="text-6xl">
            I'm <span class="font-semibold">Amber</span>
        </div>
        <div class="text-4xl text-blue-400">Software developer</div>
        <div class="text-xl">From Penang, Malaysia</div>
    </div>
    <div class="p-4 grow md:grow-0 flex justify-end">
        <img class="w-full max-w-80" src="/assets/memoji.png" />
    </div>
</div>