<h5 class="mb-2">Tech Stack</h5>
<div class="text-gray-500 dark:text-gray-400 italic">Technologies I've been working with recently.</div>

<div data-aos="zoom-in" class="pt-10 flex flex-wrap justify-center w-full mx-auto gap-4">

    @for (skill of data$ | async; track skill.label) {
        <div class="bg-slate-100 dark:bg-slate-700 rounded-xl w-28 h-28 flex flex-col items-center p-4 mb-4">
            <div class="hover:scale-105 w-full h-20 mb-2 flex items-center justify-center overflow-hidden">
                @for (img of skill.images; track img) {
                    <img class="max-w-11" [src]="img" />
                }
            </div>

            <div class="text-xs">{{ skill.label }}</div>
        </div>
    }
</div>