<h3>My Hobby Projects</h3>
<div class="text-gray-500 dark:text-gray-400 italic">A collection of my personal coding projects where I experiment with new technologies and ideas.</div>

<div class="pt-10 flex flex-wrap justify-center gap-4">
    <div class="cursor-pointer bg-slate-100 dark:bg-slate-700 rounded-md w-96 flex flex-col justify-start p-4 mb-4">
        <div class="h-52 mb-2 flex items-center">
            <img class="h-full object-cover" src="/assets/projects/crescent-light.png" />
        </div>
        <h6 class="mb-4">Task Management App</h6>
        <div class="text-xs">Web app for managing tasks</div>
    </div>
    <div class="cursor-pointer bg-slate-100 dark:bg-slate-700 rounded-md w-96 flex flex-col justify-start p-4 mb-4">
        <div class="h-52 mb-2 flex items-center">
            <img class="h-full object-cover" src="/assets/projects/quotes.png" />
        </div>
        <h6 class="mb-4">Quote Management App</h6>
        <div class="text-xs">iOS app for organising and storing your inspirational quotes all in one place</div>
    </div>
</div>