<div class="w-full lg:w-[1000px] mx-auto pt-12">
    <nav #nav class="px-12 flex flex-col md:flex-row md:justify-between">
        <ul>
            <li class="pb-5 md:pb-0">
                <a href="#about"><span class="font-semibold text-4xl md:text-base">Amber</span></a>
                <div class="block md:hidden">Software developer</div>
            </li>
        </ul>
        <ul class="flex flex-col md:flex-row">
            <li class="md:ms-4" [class.nav-active]="activeLink == '#skills'"><a href="#skills" (click)="activeLink = '#skills'">Skills</a></li>
            <li class="md:ms-4" [class.nav-active]="activeLink == '#projects'"><a href="#projects" (click)="activeLink = '#projects'">Projects</a></li>
            <li class="md:ms-4" [class.nav-active]="activeLink == '#experience'"><a href="#experience" (click)="activeLink = '#experience'">Experience</a></li>
            <li class="md:ms-4" [class.nav-active]="activeLink == '#contact'"><a href="#contact" (click)="activeLink = '#contact'">Contact</a></li>
        </ul>
    </nav>
    
    <div class="px-12 pb-20">
        <app-about class="block pt-10" id="about" />
        <app-skills class="block pt-10" id="skills" />
        <app-projects class="block pt-10" id="projects" />
    
        <app-experience class="block pt-10" id="experience" />
        <app-education class="block pt-10" id="education" />
        <app-contact class="block pt-10" id="contact" />
    </div>
    <button class="bg-blue-200 w-10 h-10 rounded-full text-white dark:text-slate-600 fixed right-4 bottom-4 transition-opacity duration-200"
        [ngClass]="{
            'opacity-1': canScrollToTop,
            'opacity-0': !canScrollToTop
        }"
        (click)="scrollToTop()">
        <i class="text-lg fa-solid fa-arrow-up"></i>
    </button>
</div>