<h3>My Tech Stack</h3>
<div class="text-gray-500 dark:text-gray-400 italic">Technologies I've been working with recently.</div>

<div class="pt-10 flex flex-wrap justify-center w-full mx-auto gap-4">
    <div class="bg-slate-100 dark:bg-slate-700 rounded-md w-24 h-24 flex flex-col items-center p-4 mb-4">
        <div class="w-10 h-10 mb-2 flex items-center">
            <img src="/assets/skills/angular.png" />
        </div>
        <div class="text-xs">Angular</div>
    </div>
    <div class="bg-slate-100 dark:bg-slate-700 rounded-md w-24 h-24 flex flex-col items-center p-4 mb-4">
        <div class="w-10 h-10 mb-2 flex items-center">
            <img src="/assets/skills/jsIconGreen.svg" />
        </div>
        <div class="text-xs">Node.js</div>
    </div>
    <div class="bg-slate-100 dark:bg-slate-700 rounded-md w-24 h-24 flex flex-col items-center p-4 mb-4">
        <div class="w-10 h-10 mb-2 flex items-center">
            <img src="/assets/skills/html5.png" />
        </div>
        <div class="text-xs">HTML 5</div>
    </div>
    <div class="bg-slate-100 dark:bg-slate-700 rounded-md w-24 h-24 flex flex-col items-center p-4 mb-4">
        <div class="w-10 h-10 mb-2 flex items-center">
            <img src="/assets/skills/css3.png" />
        </div>
        <div class="text-xs">CSS 3</div>
    </div>
    <div class="bg-slate-100 dark:bg-slate-700 rounded-md w-24 h-24 flex flex-col items-center p-4 mb-4">
        <div class="w-10 h-10 mb-2 flex items-center">
            <img src="/assets/skills/ts.png" />
        </div>
        <div class="text-xs">Typescript</div>
    </div>
    <div class="bg-slate-100 dark:bg-slate-700 rounded-md w-24 h-24 flex flex-col items-center p-4 mb-4">
        <div class="w-10 h-10 mb-2 flex items-center">
            <img src="/assets/skills/js.png" />
        </div>
        <div class="text-xs">Javascript</div>
    </div>
    <div class="bg-slate-100 dark:bg-slate-700 rounded-md w-24 h-24 flex flex-col items-center p-4 mb-4">
        <div class="w-10 h-10 mb-2 flex items-center">
            <img src="/assets/skills/fastapi.svg" />
        </div>
        <div class="text-xs">Fast API</div>
    </div>
    <div class="bg-slate-100 dark:bg-slate-700 rounded-md w-24 h-24 flex flex-col items-center p-4 mb-4">
        <div class="w-10 h-10 mb-2 flex items-center">
            <img src="/assets/skills/python.png" />
        </div>
        <div class="text-xs">Python</div>
    </div>
    <div class="bg-slate-100 dark:bg-slate-700 rounded-md w-24 h-24 flex flex-col items-center p-4 mb-4">
        <div class="w-10 h-10 mb-2 flex items-center">
            <img src="/assets/skills/postgresql.png" />
        </div>
        <div class="text-xs">PostgreSQL</div>
    </div>
    <div class="bg-slate-100 dark:bg-slate-700 rounded-md w-24 h-24 flex flex-col items-center p-4 mb-4">
        <div class="w-10 h-10 mb-2 flex items-center">
            <img src="/assets/skills/git.svg" />
        </div>
        <div class="text-xs">git</div>
    </div>
</div>