<div #container class="text-center mb-10" data-aos="fade-up">
    <h1>Quotes</h1>
    <div class="text-gray-500 dark:text-gray-400 italic">
        An iOS app to keep track of quotes that inspire and motivate you.
    </div>
</div>

<div>
    <h6 class="mb-4">Technologies and Tools</h6>
    <ul class="list-disc *:mb-2 ms-4">
        <li class="*:mb-1">Programming languages: Swift 5</li>
        <li class="*:mb-1">Version control: Git</li>
        <li class="*:mb-1">Data storage: Core Data</li>
    </ul>
</div>

<div class="pt-32">
    <h6 class="mb-4">iPhone (6.5”)</h6>
    <app-img-gallery class="mt-4 block" data-aos="fade-up"
        [canSwitchMode]="false"
        [images]="iPhone65Images"
        [imgWidth]="imgWidth" [scrollAmount]="scrollAmount" 
    />
</div>

<div class="mt-10">
    <h6 class="mb-4">iPhone (5.5”)</h6>
    <app-img-gallery class="mt-4 block" data-aos="fade-up"
        [canSwitchMode]="false"
        [images]="iPhone55Images"
        [imgWidth]="imgWidth" [scrollAmount]="scrollAmount" 
    />
</div>

<div class="mt-10">
    <h6 class="mb-4">Apple watch</h6>
    <div class="text-sm mb-4">View quotes on your wrist</div>
    <app-img-gallery class="mt-4 block" data-aos="fade-up"
        [canSwitchMode]="false"
        [images]="watchImages"
        [imgWidth]="imgWidth" [scrollAmount]="scrollAmount" 
    />
</div>