<div #container class="text-center mb-10" data-aos="fade-up">
    <h1>Quotes</h1>
    <div class="text-gray-500 dark:text-gray-400 italic">
        An iOS app to keep track of quotes that inspire and motivate you.
    </div>
</div>

<div>
    <h6 class="mb-4">Technologies and Tools</h6>
    <ul class="list-disc *:mb-2 ms-4">
        <li class="*:mb-1">Programming languages: Swift 5</li>
        <li class="*:mb-1">Version control: Git</li>
        <li class="*:mb-1">Data storage: Core Data</li>
    </ul>
</div>

<div class="pt-20">
    @for (row of data | async; track row.label)  {
        <div class="mt-10">
            <h6 class="mb-4">{{ row.label }}</h6>
            @if (row.description) {
                <div class="text-sm mb-4">{{ row.description }}</div>
            }
            <app-img-gallery class="mt-4 block" data-aos="fade-up"
                [canSwitchMode]="false"
                [images]="row.images"
                [imgWidth]="imgWidth" [scrollAmount]="scrollAmount" />
        </div>
    }
</div>